<html>
  <head>
    <meta charset="UTF-8">
    <title>Bye:((</title>
  </head>
  <body>
    <% name = "ELLA" %> <!--defining variable-->
    <p><%= "Hello my name is #{name}"%></p>
    <h7>buh bye</h1>
  </body>
</html>